@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  ul {
    @apply list-disc list-outside ml-5;
  }
  ol {
    @apply list-decimal list-outside ml-5;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ChatHeader {
  background-color: black;
  color: white;
}
* {
  background-color: #43484c;
}
/* .header, .main, .footer{
  border: 2px solid white;
  box-sizing: border-box;     
} */

.header {
  height: 10%;
  align-items: center;
  display: flex;
}
.main {
  height: 80%;
  width: 100%;
}
.footer {
  height: 10%;
}

.aiBtn {
  background-color: #efb2fe;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-left: 30px;
  animation: fade-in 1s;
  display: flex;
  align-items: center;
}
.TeamSelectBtnUp {
  display: flex;
}
.TeamSelectDiv {
  /* background-color: #232323; */
  /* color:white; */
  margin-left: 30px;
  position: relative;
  display: flex;
}
.form-group {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 30px;
}
.SearchBtn {
  animation: fade-in 1s;
}
.SearchInput {
  background-color: #232323;
  height: 32px;
  color: white;
  animation: fade-in 1s;
  height: 40px;
  border-radius: 10px;
  margin-right: 10px;
}

/* Drop Down */

.dropdown {
  position: relative;
  /* color: black; */
  animation: fade-in 1s;
  background-color: #43484c;
}

.dropdown button {
  background-color: #3490dc;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.dropdown ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  /* border: 1px solid #ddd; */
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  animation: fade-in 1s;
}

.dropdown li {
  padding: 0.5rem 1rem;
  width: 200px;
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid;
}
.dropdown li:first-child {
  border-radius: 10px 10px 0 0;
}
.dropdown li:last-child {
  border-radius: 0px 0px 10px 10px;
}
.dropdown li:hover {
  background-color: #f3f4f6;
}

.dropdown .active ul {
  display: block;
  border-radius: 20px;
}

/* Drop Down */

.chatlistUp {
  border: 20px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  /* width: 100%;
  height: 100%; */
}
.chatlist {
  /* display: flex;
  flex-direction: column; */
  border: 20px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  /* padding: 10px; */
  background-color: #232323;
  /* margin: 10px; */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  animation: fade-in 1s;
  overflow-x: hidden;
  overflow-y: scroll;
}
.chatlist * {
  background-color: #232323;
  color: white;
  /* border: ; */
  border-radius: 25px;
  box-sizing: border-box;
}

.ChatContentUp {
  border: 20px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 80%;
}
.ChatContentUp * {
  background-color: #232323;
}

.ChatContent {
  background-color: #232323;
  color: white;
  box-sizing: border-box;
  border-radius: 20px;
  border: 10px solid rgba(0, 0, 0, 0);
  animation: fade-in 1s;
}
.ChatContentDown ul {
  list-style-type: circle;
}

/* 채팅 넘으면 자동으로 스크롤 못하나~? */
/* @keyframes scrollAnimation{
  0%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(50%);
  }
} */

/* 입력창 숨기기 */
.ExpandingInput {
  display: none;
}
.ExpandingInput textarea {
  /* height: 56px; */
}
.MetaDataUp {
  border: 20px solid rgba(0, 0, 0, 0);

  border-radius: 20px;
  box-sizing: border-box;
  height: 20%;
  width: 100%;
}
.MetaData {
  animation: fade-in 1s;
  background-color: #232323;
  box-sizing: border-box;
  border-radius: 20px;
  border: 20px solid rgba(0, 0, 0, 0);
  color: white;
}

.ChatlistDiv {
  height: 100%;
  width: 25%;
}
.ChatContentDiv {
  width: 85%;
  height: 100%;
}
.ChatContentDiv2 {
  width: 100%;
}

/* 반응 */
@media (max-width: 800px) {
  .ChatlistDiv {
    display: none;
  }

  .ChatContentDiv {
    width: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* 01.25 */
.ChatHeader {
  background-color: black;
  color: white;
}
* {
  background-color: #43484c;
}
/* .header, .main, .footer{
  border: 2px solid white;
  box-sizing: border-box;     
} */

.header {
  height: 10%;
  align-items: center;
  display: flex;
}
.main {
  height: 80%;
  width: 100%;
}
.footer {
  height: 10%;
}

.aiBtn {
  background-color: #efb2fe;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-left: 30px;
}

.TeamSelectDiv {
  /* background-color: #232323; */
  /* color:white; */
  margin-left: 30px;
  position: relative;
  display: flex;
  height: 40px;
}
.form-group {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 30px;
}
.SearchBtn {
  animation: fade-in 1s;
}
.SearchInput {
  background-color: #232323;
  height: 32px;
  color: white;
  animation: fade-in 1s;
  height: 40px;
  border-radius: 10px;
  margin-right: 10px;
}

/* Drop Down */

.dropdown {
  position: relative;
  /* color: black; */
  animation: fade-in 1s;
  background-color: #43484c;
}

.dropdown button {
  background-color: #3490dc;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.dropdown ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  /* border: 1px solid #ddd; */
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  animation: fade-in 1s;
}

.dropdown li {
  padding: 0.5rem 1rem;
  width: 200px;
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid;
}
.dropdown li:first-child {
  border-radius: 10px 10px 0 0;
}
.dropdown li:last-child {
  border-radius: 0px 0px 10px 10px;
}
.dropdown li:hover {
  background-color: #f3f4f6;
}

.dropdown .active ul {
  display: block;
  border-radius: 20px;
}

/* Drop Down */

.chatlistUp {
  border: 20px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
}
.chatlist {
  border: 20px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  /* padding: 10px; */
  background-color: #232323;
  /* margin: 10px; */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  animation: fade-in 1s;
}
.chatlist * {
  background-color: #232323;
  color: white;
  /* border: ; */
  border-radius: 25px;
  box-sizing: border-box;
}

.ChatContentUp {
  border: 20px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 80%;
}
.ChatContentUp2 {
  border: 20px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.ChatContentUp * {
  background-color: #232323;
}

.ChatContent2 {
  background-color: #232323;
  color: white;
  box-sizing: border-box;
  border-radius: 20px;
  border: 10px solid rgba(0, 0, 0, 0);
  animation: fade-in 1s;
}
.ChatContentDown ul {
  list-style-type: circle;
}

/* 채팅 넘으면 자동으로 스크롤 못하나~? */
/* @keyframes scrollAnimation{
  0%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(50%);
  }
} */

/* 입력창 숨기기 */
.ExpandingInput {
  display: none;
}

.MetaDataUp {
  border: 20px solid rgba(0, 0, 0, 0);

  border-radius: 20px;
  box-sizing: border-box;
  height: 20%;
  width: 100%;
}
.MetaData {
  animation: fade-in 1s;
  background-color: #232323;
  box-sizing: border-box;
  border-radius: 20px;
  border: 20px solid rgba(0, 0, 0, 0);
  color: white;
}

.ChatlistDiv {
  height: 100%;
  width: 20%;
}
.ChatContentDiv {
  width: 79%;
  height: 100%;
}
.ChatContentDiv2 {
  width: 100%;
}

/* 반응 */
@media (max-width: 800px) {
  .ChatlistDiv {
    display: none;
  }

  .ChatContentDiv {
    width: 100%;
  }
}

/* video */
.videoPlayer2 {
  background-color: #232323;
}
.oriVideo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.oriVideo2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* align-items: center; */
  background-color: #232323;
}
.ori_video {
  border: 10px solid #43484c;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.video_title {
  width: 280px;
  text-overflow: ellipsis;
  /* overflow: hidden; */
  /* white-space: nowrap; */
}
.shortVideo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.short {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timeLine {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.showTimeLine {
  color: #43484c;
  background-color: #a6b4c3;
  /* border: 2px solid #aebecd; */
  border-radius: 8px;
  box-sizing: border-box;

  padding: 3px 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  animation: fade-in 1s;
}

.showTimeLine:hover,
.showTimeLine:focus {
  background-color: #e6f0fd;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
